.user-container {
  padding: 20px;
  background-color: #f4f5f7;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-user-button {
  background-color: #fa7e1e;
  border-color: #fa7e1e;
}

.user-search {
  margin-bottom: 20px;
}

.ant-table-thead > tr > th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  padding: 16px;
}

.ant-tag {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.875em;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
